[Desktop Entry]
Encoding=UTF-8
Name=Link to images
Type=Link
URL=https://github.com/bradtraversy/huddle_styled_components/tree/main/public/images
Icon=text-html
